@model List<IRS.Models.ViewModels.LineTracking.Smt_StatusViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";

}

<link rel="stylesheet" href="~/Content/Tema.css" />
 <style>
     .general{
         padding-top:1rem;
     }
     .banners{
         width:3rem;
         text-align:center;
        float:right;
     }
     .fondo-tabla{
         background-color:#0066a1  !important;
         
     }

 </style>
<div class="container-fluid general">
    <div><h1 class="text-center">Resumen de Produccion</h1></div>
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive border border-2">
                <thead class="border">
                    <tr>
                        <th class="fondo-tabla text-white">Línea</th>
                        <th class="fondo-tabla text-white">Orden de trabajo</th>
                        <th class="fondo-tabla text-white">Marcadora</th>
                        <th class="fondo-tabla text-white">SPI</th>
                        <th class="fondo-tabla text-white">Pick & PLace</th>
                        <th class="fondo-tabla text-white">AOI</th>
                        <th class="fondo-tabla text-white">OEE</th>
                        <th class="fondo-tabla text-white">Tiempo muerto</th>
                        <th class="fondo-tabla text-white">Piezas OK </th>
                        <th class="fondo-tabla text-white">Piezas en búfer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        var mcid = x.Linea.Contains("(") ?
                            x.Linea.Substring(x.Linea.IndexOf("(") + 1 ):
                            x.Linea;
                        mcid = mcid.Replace(")", string.Empty);
                        <tr>

                            <td>@Html.ActionLink("" + x.Linea, "OeeSMT", "LineTracking", new { mcid = mcid }, null)</td>
                            <td>@x.WO</td>
                            @if (x.Marcadora >= 3)
                            {
                                <td>@x.Marcadora_f <label class="bg-danger rounded-3 banners text-white"> NOK</label></td>
                            }
                            else
                            {
                                <td>@x.Marcadora_f <label class="bg-success rounded-3 banners text-white"> OK</label></td>
                            }

                            @if (x.SPI >= 3)
                            {
                                <td>@x.SPI_f <label class="bg-danger rounded-3 banners text-white"> NOK</label></td>
                            }
                            else
                            {
                                <td>@x.SPI_f <label class="bg-success rounded-3 banners text-white"> OK</label></td>
                            }
                            <td>@x.Pick_place</td>
                            @if (x.AOI >= 3)
                            {
                                <td>@x.AOI_f <label class="bg-danger rounded-3 banners text-white"> NOK</label></td>
                            }
                            else
                            {
                                <td>@x.AOI_f <label class="bg-danger rounded-3 banners text-white"> OK</label></td>
                            }
                            <td>70%</td>
                            <td>40 min</td>
                            <td>150</td>
                            <td>T @x.Top B @x.Bot </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    </div>
 
    
    <br />

   

        <div class="row">
           
            <div class="col-5">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Servicio</th>
                            <th>Estatus</th>
                        </tr>
                        </thead>
                    <tbody>
                        @foreach(var y in ViewBag.Lista_Servicios)
                        {
                           <tr>
                               <td>@y.Alias </td>
                               @if (y.Estatus.ToLower() == "running")
                               {

                                   <td> <label class="bg-success rounded-3 banners text-white"> OK</label></td>
                               }
                               else
                               {
                                   <td> <label class="bg-danger rounded-3 banners text-white"> NOK</label></td>
                               }
                           </tr>
                         }
                        


                    </tbody>

                </table>
            </div>
        </div>
       

</div>

