@{
    ViewBag.Title = "OeeSMT";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}
<link rel="stylesheet" href="~/Content/Tema.css" />
<style>
    .general {
        padding-top: 1rem;
    }

    .banners {
        width: 3rem;
        text-align: center;
        float: right;
    }

    .fondo-tabla {
        background-color: #0066a1 !important;
    }
</style>
<div class="container-fluid">
    <h1 class="text-center">Detalles de Produccion</h1>
</div>

<br />

<div class="container-fluid general">
    <h1 class="text-center">Espacio para Filtrar linea y fechas @ViewBag.turno</h1>
    <div class="row">
       
        <div class="row">
            <div class="col-4">
                <table class="table table-responsive border border-2">
                    <thead class="table-dark">
                        PRIMER TURNO
                        <tr>
                            <th class="fondo-tabla text-white">Hora</th>
                            <th class="fondo-tabla text-white">Objetivo</th>
                            <th class="fondo-tabla text-white">Actual</th>
                            <th class="fondo-tabla text-white">Tiempo Muerto</th>
                            <th class="fondo-tabla text-white">OEE</th>
                            <th class="fondo-tabla text-white">Programa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var a in ViewBag.turno1)
                         {
                            <tr>
                                <td>@a.Hora</td>
                                <td>@a.TPz</td>
                                @if (a.PzOk >= a.TPz)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.PzOk </label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.PzOk </label></td>
                                }

                                @if (a.DownTime <= 20)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.DownTime</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.DownTime</label></td>
                                }

                                @if (a.OEE >= 80)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.OEE</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white"> @a.OEE</label></td>
                                }


                              <td>@a.Programa</td>
                            </tr>
                         }

                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-responsive border border-2">
                    <thead class="table-dark">
                        SEGUNDO TURNO
                        <tr>
                            <th class="fondo-tabla text-white">Hora</th>
                            <th class="fondo-tabla text-white">Objetivo</th>
                            <th class="fondo-tabla text-white">Actual</th>
                            <th class="fondo-tabla text-white">Tiempo Muerto</th>
                            <th class="fondo-tabla text-white">OEE</th>
                            <th class="fondo-tabla text-white">Programa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in ViewBag.turno2)
                        {
                            <tr>
                                <td>@a.Hora</td>
                                <td>@a.TPz</td>
                                @if (a.PzOk >= a.TPz)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.PzOk </label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.PzOk </label></td>
                                }

                                @if (a.DownTime <= 20)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.DownTime</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.DownTime</label></td>
                                }

                                @if (a.OEE >= 80)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.OEE</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white"> @a.OEE</label></td>
                                }


                                <td>@a.Programa</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-responsive border border-2">
                    <thead class="table-dark">
                        TERCER TURNO
                        <tr>
                            <th class="fondo-tabla text-white">Hora</th>
                            <th class="fondo-tabla text-white">Objetivo</th>
                            <th class="fondo-tabla text-white">Actual</th>
                            <th class="fondo-tabla text-white">Tiempo Muerto</th>
                            <th class="fondo-tabla text-white">OEE</th>
                            <th class="fondo-tabla text-white">Programa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in ViewBag.turno3)
                        {
                            <tr>
                                <td>@a.Hora</td>
                                <td>@a.TPz</td>
                                @if (a.PzOk >= a.TPz)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.PzOk </label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.PzOk </label></td>
                                }

                                @if (a.DownTime <= 20)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.DownTime</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white">@a.DownTime</label></td>
                                }

                                @if (a.OEE >= 80)
                                {
                                    <td><label class="bg-success rounded-3 banners text-white">@a.OEE</label></td>
                                }
                                else
                                {
                                    <td><label class="bg-danger rounded-3 banners text-white"> @a.OEE</label></td>
                                }


                                <td>@a.Programa</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
