
@{
    ViewBag.Title = "ComponentTrace";
}

<h1 class="text-primary fw-bold">Registro de Componentes</h1>
<hr />

    <form action="ComponentTrace" method="post">
        <input type="text" name="busqueda" value="" />
        <input type="submit" value="Buscar">
        <label class="shadow fw-bold"> *Puede buscar por:   ID de Componente,       FeederID o  Nombre del componente</label>
    </form>
    <br />
    <table class="table table-striped table-bordered" id="tabla_desplegada">
        <thead>
            <tr class="table-primary">
                <th scope="col">ComponenteID</th>
                <th scope="col">FeederID</th>
                <th scope="col">Nombre de Componente</th>
                <th scope="col">Marca de tiempo abierto</th>
                <th scope="col">Horneados restantes</th>
                <th scope="col">Estacion McID</th>
                <th scope="col">Estacion</th>
                <th scope="col">Ranura</th>
                <th scope="col">SubRanura</th>
                <th scope="col">Veces usado</th>
                <th scope="col">Errores</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Status</th>
                <th scope="col">Ultima estacion que lo registro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.CompID</td>
                    <td>@x.FeederID</td>
                    <td>@x.CompName</td>
                    <td>@x.OpenTimeStamp</td>
                    <td>@x.NumDryLeft</td>
                    <td>@x.McID</td>
                    <td>@x.Station</td>
                    <td>@x.Slot</td>
                    <td>@x.SubSlot</td>
                    <td>@x.Used</td>
                    <td>@x.Errors</td>
                    <td>@x.Amount</td>
                    <td>@x.Status</td>
                    <td>@x.LastSeenOnMachine</td>
                </tr>
            }
        </tbody>
        <tr class="noSearch hide fw-bold">
            <td colspan="11"></td>
        </tr>
    </table>
<script src="~/Scripts/Buscar.js"></script>

