
@{
    ViewBag.Title = "History_Check_Selectivos";
}

<h1 class="text-primary fw-bold">Detalle History Check *Estaciones de Selectivos*</h1>
<hr />
<div class="container">
    <form action="History_Check_Selectivos" method="post">
        <input type="text" name="serie" value="" />
        <input type="submit" value="Buscar">
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Serie</th>
                        <th>Secuencia</th>
                        <th>Fecha</th>
                        <th>Mensaje</th>
                        <th>Linea</th>
                        <th>Estación</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SerialNumber</td>
                            <td>@item.Sequence</td>
                            <td>@item.TimeDone</td>
                            <td>@item.Message</td>
                            <td>@item.LineID</td>
                            <td>@item.StationID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

